.cpcache/
/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
**/#*
**/.#*
/native
src/archive/huygens-fokker-scala-archive/*.scl
.clj-kondo/
.lsp
**/.DS_Store
/node_modules
/dist
.cider-repl-history
.shadow-cljs/
target/
2)5-dekany-cycles-A.B.C.txt
dekany-cycles-of-A.D.txt
dekany.txt
eikosany-2.txt
eikosany-harmonic-triad-cycles-A.B.C.txt
eikosany-harmonic-triad-cycles-of-A.B.C.txt
eikosany-harmonic-triad-cycles-of-D.E.F.txt
eikosany.txt
npm-test/
some-eikosany-cycles-of-A.B.C.txt
some-eikosany-harmonic-triad-cycles-of-A.B.C.txt
src/erv/cps/alt.cljc
