.cpcache/
/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
**/#*
**/.#*
/native
src/archive/huygens-fokker-scala-archive/*.scl
.clj-kondo/
.lsp
**/.DS_Store
/node_modules
/dist
.cider-repl-history
.shadow-cljs/
npm-test/
src/erv/cps/alt.cljc
/resources/data-sets
