{:source-paths ["src"]
 :dependencies [[binaryage/devtools "0.9.7"]
                [cider/cider-nrepl "0.25.3"]
                [com.taoensso/timbre "5.1.0"]
                [refactor-nrepl "2.5.0"]
                [table/table "0.5.0"]
                [com.gfredericks/exact "0.1.11"]
                [org.clojure/math.combinatorics "0.1.6"]
                [com.taoensso/timbre "4.10.0"]]
 :dev-http {5678 "build/browser"}
 :builds ; https://shadow-cljs.github.io/docs/UsersGuide.html#target-node-script
 {:lib {:target :node-library
        :output-to "dist/lib.js"
        :exports-fn js.export-fn/generate-exports}}}
