{;; :source-paths ["src" "test"]
 :deps {:aliases [:cljs]}
 :dev-http {5678 "build/browser"
            3001 "out/test"}
 :builds ; https://shadow-cljs.github.io/docs/UsersGuide.html#target-node-script
 {:lib {:target :node-library
        :output-to "dist/lib.js"
        :exports-fn js.export-fn/generate-exports}
  :browser-test {:target :browser-test
                 :test-dir "out/test"}
  :test {:target :node-test
         :output-to "out/node-tests.js"}}}
